.about-wrapper{
    /* min-height: 120vh; */
    /* background-image: url("../../../public/comingSoon.avif") top right cover no-repeat; */
    
}
.about-wrapper h1{
    color: aqua;
}

.about-wrapper img{
    height: 100%;
    width: 100%;
    /* position: fixed; */
    background-size: cover;
}

.about-section{
    margin-top: 2rem;
}

.main-heading{
    margin-top: 2rem;
}
.home-content, .about-paragraph{
    text-align: justify ;
    margin: 1rem 1.5rem;
}
.about-content{
    min-height: 100vh;
}